{% extends "base.html" %}
{% load static %}
{% block content %}
<button class="btn btn-sm my-4 ml-3 bg-dark text-light" onclick="location.href='{% url 'ideas:idea_create' %}'">새 아이디어 등록</a></button>
<br/>
<div class="d-flex justify-content-center ">
        {%for idea in idea %}
        <div class="col-3 p-3 m-1 d-flex flex-column align-items-center justify-content-center bg-dark rounded">
                <img src="{{ idea.image.url }}" style="max-width: 70%;"/>
                <hr>
                <div>
                        <h3 ><a class="text-light" href="{% url 'ideas:idea_detail' idea.pk%}">{{ idea.title }}</a></h3>
                        <span class="font-weight-bold text-light">예상 개발 툴:</span> <span class="text-light">{{ idea.devtool }}</span>
                        <br>
                        <span class="font-weight-bold text-light">아이디어 관심도:</span> <span class="text-light">{{ idea.interest }}</span>
                        <button class="btn btn-sm border-secondary text-light" id="up">+</button>
                        <button class="btn btn-sm border-secondary text-light" id="down">-</button>
                        
                </div>
        </div>
        {% endfor %}
</div>
{% endblock %}

{% block extra %}
<script>
        const button = document.querySelectorAll('.btn');
        button.forEach(button => button.addEventListener('click',()=> {
        console.log('Click!!!');
        }));
</script>
{% endblock %}
