{% extends "shop/layout.html" %}
{% load humanize %}

{%block content%}
        <ul>
            {%for item in item_list %}
                <li>
                    <a href="{{ item.get_absolute_url }}">
                        {{item.name}}
                    </a>
                    {{ item.price }}
                    {{ item.desc }}
                </li>
            {% endfor %}
        </ul>

        <hr />
        <a href="{% url "shop:item_new" %}">New Item</a>
{%endblock%}


<!--python3 manage.py shell 
from shop.models import Item
qs = Item.objects.all()
qs.query
str(qs.query)
-->

