/*cascasing style sheet*/
/*선택자 (selector)*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

header {
  height: 170px;
}

#header-top {
  float: right;
  margin-top: 8px;
}

#header-top span {
  color: #888; /*원래 888888인데 같은 숫자*6이면 반으로 줄이기 가능*/
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px; /*너무 작게 주면 여러 줄의 글자들이 서로 겹친다.*/
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

#header-search {
  clear: both; /*안겹치게*/
  padding-top: 45px; /*내부의 여유 공간은 패딩 외부간격은 마진 애매할 때 안전한 건 패딩*/
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  width: 200px;
  height: 48px;
  display: inline-block;
  background: url(./sp_search.png) -4px -3px no-repeat;
  vertical-align: middle;
  position: relative;
  top: -5px;
  left: 1px;
}

#header-search h1 span {
  display: none;
}

/*
#head-center h1{
 자손 선택자
}
*/

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /*padding-top: 12px;*/
  /*padding-bottom: 12px;*/
  /*padding-left: 10px;*/
  /*padding-right:0;*/
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d; /*hex*/
  width: 586px;
  height: 56px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
}

#header-search fieldset button {
  width: 52px;
  height: 52px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: 0;
  top: -0.5px;
}

#search-keyboard {
background-image:url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
background-repeat: no-repeat;
background-position: -33px -60px;
width:19px;
height: 11px;
display: inline-block;
margin:0 6px; /*상우 하좌 반복이면 한 번만 쓴다. 세 개면 상 우좌 하*/
vertical-align: middle;
}

#search-history {
    background-image:url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
background-repeat: no-repeat;
background-position: -87px -60px;
width 9px;
height: 4px;
display: inline-block;
margin:0 6px;
vertical-align: middle;

}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -2px -59px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;
}

nav {
  height: 46px;
  border-top: 1px solid#f1f3f6;
  border-bottom: 1px solid #d1d8e4;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url(./sp_nav.png);
  background-repeat: no-repeat;
  margin-left: 10px;
}

/*!important는 최후의 수단. 피하는 게 좋다.
차라리 태그, 클래스 여러 개 붙이는 꼼수가 낫다."*/

nav li:first-child span:first-child {
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0;
}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}

nav li:nth-child(7) span:first-child {
    width: 30px;
    background-position: -70px -285px;
  }

.nav-divider {
  display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#search-ranking {
  position: absolute;
  top: 183px;
  right: 100px;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}

main {
    background-color:#f2f4f7;
    display:inline-block;
    width:100%;
}

#main-centered{
    padding:8px 10px ;
    width:1100px;
}

#main-first-block{
    display:inline-block;
    width:100%;
}

#main-ad{
    float:left;
    width: 740px;
    height: 120px;
    background:#555;
    margin-right:8px;
    margin-bottom: 8px;
}

#main-login{
    float:left;
    width: 332px;
    height: 120px;
    vertical-align: top;
    background-color:white;
    margin-bottom: 8px;

}

#main-second-block .inline-block:first-child {
    width: 740px;
}

#main-second-block .inline-block:last-child {
    width: 332px;
    vertical-align: top;
}

#main-ytn{
    display: inline-block;
    width: 740px;
    height: 46px;
    background-color:white;
    margin-right:8px;
    margin-bottom: 8px;
}

#main-ytn h3, #main-ytn ol {
    display: inline-block;
}

#main-newsstand ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-newsstand li{
float: left;
width: 185px;
height: 67px;
border-right:1px solid #f1f3f6;
border-bottom: 1px solid #f1f3f6;
text-align: center;
}

#main-newsstand li img {
position:relative;
top:50%;
transform: translateY(-50%);/*자기 높이의 반절만큼 위로*/
}

#main-newsstand h3{
    height: 45px;
    border-bottom: 1px solid #ebeef3;
}

#main-newsstand{
    display: inline-block;
    width: 740px;
    height: 246px;
    background-color:white;
    margin-right:8px;
    margin-bottom: 8px;
}

#main-weather{
    display: inline-block;
    width: 332px;
    height: 142px;
    background-color:white;
    margin-bottom: 8px;

}

#main-second-ad{
    display: inline-block;
    width: 332px;
    height: 150px;
    background:#555;
    margin-bottom: 8px;

}
#main-third-block,
#main-fourth-block{
    display: inline-block;
    width: 100%;
}

#main-category{
float:left;
    width: 740px;
    height: 837px;
    background-color:white;/*-color 안 써도 됨. 색깔 쓰면 색깔. url쓰면 이미지*/
    margin-bottom:8px;
    margin-right:8px;

}


#main-shopping{
    float:left;
    width: 332px;
    height: 837px;
    background-color:white;
    margin-bottom:8px;

}

#main-event{
    float:left;
    width: 740px;
    height: 130px;
    background-color:white;
    vertical-align: top;
    margin-right:8px;

}

#main-third-ad {
    float:left;
    width: 332px;
    height: 130px;
    background-color:#555;
}


/*css inline block 오류 해결 방법 1. 엔터 없애기
2. float left
3. margin 음수 값 -4px. 그럼 붙음 근데 브라우저마다 값이 다름
4. 인라인 블럭을 감싸고 있는 div에 폰트 사이즈를 0으로 준다. 단 그럼 다식들의 폰트도
다 0이 되기 때문에 자식들에게 폰트 사이즈 지정을 다시 해줘야 한다.

플롯하면 부모가 자식 인지 못함. 부모가 블록 포맷 컨텍스트 형성해야함. overflow auto
아니면 display inline block && width 100%*/