<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AskDjango BLog</title>
</head>
<body>
    <h1>AskDjango Blog</h1>

    {% if user.is_authenticated %}
        {{ user }} <!--context processor-->
        로그아웃
    {% else %}
        회원가입
        <a href="{% url "login" %}?next={{ request.path }}">로그인</a><!--accounts에서는 네임스페이스 대개 지정하지 않는다.--><!--로그인 끝나면 원래 있던 패이지로-->
    {% endif %}
    <hr/>

    {% block content %}
    {% endblock %}

    <hr/>
    &copy; 2018. AskDjango
</body>
</html>