{% load static %}<!---웹페이지마다 공통적으로 들어가는 HTML 코드를 base template 기본 템플릿으로 만들어서 따로 저장. 
    그리고 각 웹페이지마다 변경해야 하는 부분만 변경. 이 과정이 템플릿 확장.-->
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>
        
            <div class="page-header">
                {% if user.is_authenticated %} <!--관리자로 로그인한 유저들에게만 보이게.로그인 한 사람에게만 이 링크가 발생. -->
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% endif %}
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}<!--이 파일의 나머지 코드들이 그대로 공통적으로 쓰이되 이 블럭 부분만 각 페이지에 쓰인 코드에 따라 다른 것. -->
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    
</html>